@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/********** Global Styles ***********/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: normal 16px sans-serif;
    color: #555;
}

ul,
nav{
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(252, 244, 244);
    font-size: 19px;
    font-weight: bolder;
}

a:hover{
    opacity: 1;
}

.btn{
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #144b17;
    opacity: 1;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
}

section:not(.hero):nth-child(even){
    background-color: #f5f5f5;
}

section p{
    max-width: 775px;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
}

.title{
    text-transform: capitalize;
    font: bold 32px "Open Sans";
    margin-bottom: 30px;
    text-align: center;
}

hr{
    width: 250px;
    height: 3px;
    background-color: #48313F;
    border: 0;
    margin-bottom: 50px;
}

/********** Grid **********/

.grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/********** Header **********/

header{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
    color: #FFF;
    opacity: 0;
    animation: 1s fade-in 0.5s forwards;
    z-index: 2;
}

@keyframes fade-in{
    100%{
        opacity: 1;
    }
}

header h2{
    font-family: "Quicksand";
}

header nav{
    display: flex;
    margin-right: -15px;
}

header nav li{
    margin: 0 15px;
}

/********** Hero **********/

.hero{
    position: relative;
    justify-content: flex-start;
    text-align: center;
    min-height: 100vH;
    color: rgb(232, 233, 240);
}

.hero .bg-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
}

.hero-content{
    opacity: 0;
    margin-top: 300px;
    animation: 1s slide-up 1s forwards;
}

.hero h1{
    font: bold 60px "Open Sans";
    margin-bottom: 15px;
}

.hero h3{
    font: normal 28px "Open Sans";
    margin-bottom: 40px;
}

.hero .btn{
    padding: 20px 46px;
}

@keyframes slide-up{
    100% {
        opacity: 1;
        margin: 200px;
    }
}

/********** Tours **********/

#tours .grid li{
    height: 350px;
    padding: 20px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

#tours .grid li.small{
    flex-basis: 30%;
}

#tours .grid li.large{
    flex-basis: 70%;
}

/********** Packages **********/

#packages .grid li{
    padding: 50px;
    flex-basis: 50%;
    text-align: center;
}

#packages .grid li svg{
    color: rgba(72, 49, 63, 0.8);
}

#packages .grid li h4{
    font-size: 30px;
    margin: 25px 0;
}

/********** Reviews **********/

#reviews .quote{
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin: 40px 0 25px;
}

/********** Contact **********/

#contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
}

#contact form .btn{
    padding: 18px 42px;
}

#contact form input{
    padding: 15px;
    margin-right: 30px;
    font-size: 18px;
    color: #555;
    flex: 1;
}

/********** Footer **********/

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(72, 49, 63, 0.6);
    color: #fff;
    padding: 20px 0;
}

footer ul{
    display: flex;
}

footer ul li{
    margin-left: 16px;
}

footer p{
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.6;
    align-self: center;
}

/********** Media Queries **********/

@media (max-width: 1100px){
    #tours .grid li.small,
    #tours .grid li.large {
        flex-basis: 50%;
    }

    #contact form input{
        flex-basis: 100%;
        margin: 0 0 20px 0;
    }

    footer{
        flex-direction: column;
    }

    footer p{
        text-align: center;
        margin-bottom: 20px;
    }

    footer ul li{
        margin: 0 8px;
    }
}

@media (max-width: 800px){
    section{
        padding: 50px 20px;
    }

    header{
        padding: 20px 50px;
        flex-direction: column;
        opacity: 1;
        animation: none;
    }

    header h2{
        margin-bottom: 15px;
    }

    .hero{
        min-height: 600px;
    }

    .hero h1{
        font-size: 48px;
    }

    .hero h3{
        font-size: 24px;
    }

    .hero .btn{
        padding: 15px 40px;
    }

    .hero-content{
        opacity: 1;
        margin: 200px;
        animation: none;
    }

    #tours .grid li.small,
    #tours .grid li.large {
        flex-basis: 100%;
    }

    #packages .grid li{
        flex-basis: 100%;
        padding: 20px;
    }

    #reviews .quote{
        font-size: 18px;
        margin: 15px 0;
    }

    #reviews .author{
        font-size: 14px;
    }
}